{% extends 'base.html.twig' %}

{% block title %}Impression{% endblock %}

{% block body %}
    <div class="container">
        <div id="information-block" class="jumbotron">
            <h1>Cliquez pour imprimer les vignettes d'adresses</h1>
            <p>
                Les factures s'impriment directement sur cette page.
                Cliquer sur le bouton ci dessous pour ouvrir une nouvelle page et imprimer
                les adresses au format vignette.
            </p>
            <div class="col-md-4 form-box">
                <div class="form-group submit-box">
                    <a href="{{ path('print_vignette')}}" class="btn btn-primary">Imprimer les vignettes</a>
                </div>
            </div>
        </div>
        <div id="js-vars" data-vars="{{ commands|e('html_attr') }}"/>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>

    {{ include('home/include_image.html.twig') }}

    <script>

        var commands = jQuery('#js-vars').data('vars');
        var left_x_header = 7;

        $( document ).ready(function() {
            var doc = new jsPDF('p', 'mm', 'a4')

            var count = commands.length;
            $(commands).each(function(k,v){
                header();
                createBody(v);
                footer();
                doc.addPage();

                header();
                createBody(v);
                footer();

                if(k < count - 1){
                    doc.addPage();
                }
            });

            function createBody(v){
                factureNumber(v);
                factureAdress(v);
                factureTable(v);
            }


            function factureTable(v){
                factureTableHeader();
                var beginArticle = 117;
                doc.setLineWidth(0.4);
                doc.setFontType('normal');
                $(v.articles).each(function(n,article){
                    factureArticleLine(article, beginArticle);
                    doc.line(16, beginArticle+2, 195, beginArticle+2);
                    beginArticle += 6;
                });
                doc.text(18,beginArticle, 'Sous Total');
                doc.text(167,beginArticle, String(v.sousTotal));
                doc.line(16, beginArticle+2, 195, beginArticle+2);
                beginArticle += 6;

                $(v.discounts).each(function(n,discount){
                    factureArticleDiscount(discount,beginArticle);
                    doc.line(16, beginArticle+2, 195, beginArticle+2);
                    beginArticle += 6;
                });

                doc.text(18,beginArticle, 'Pourcentage de TVA 20%: ' + String(v.totalTVAHorsPort));
                doc.line(16, beginArticle+2, 195, beginArticle+2);
                beginArticle += 6;
                doc.text(18,beginArticle, 'Frais de port:');
                doc.text(125,beginArticle, 'net: ' + String(v.fraisPortHT));
                doc.text(153,beginArticle, '20%');
                doc.text(167,beginArticle, v.fraisPortTTC);
                doc.setLineWidth(0.8);
                doc.line(16, beginArticle+2, 195, beginArticle+2);
                beginArticle += 6;

                doc.text(18,beginArticle, 'Total(Pourcentage de TVA: '+ v.totalTVA +')');
                doc.text(167,beginArticle, String(v.total));

                beginArticle += 8;
                doc.setFontType('bold');
                doc.text(18,beginArticle, 'Mode de paiement: ' + v.typePayment);
            }

            function factureArticleDiscount(discount,beginArticle){
                doc.text(18,beginArticle, discount.discountCode);
                doc.text(167,beginArticle, discount.discountAmount);
            }

            function factureArticleLine(article, beginArticle){
                doc.text(18,beginArticle, article.article);
                doc.text(110,beginArticle, article.nbArticle);
                doc.text(125,beginArticle, article.prixUnitaire);
                doc.text(153,beginArticle, String(article.TVA));
                doc.text(167,beginArticle, article.priceTTC);
            }

            function factureTableHeader(){
                doc.setDrawColor(232,232,232);
                //line(xl, yl, xr, yr);
                doc.line(16, 105, 195, 105);
                doc.setFontType('bold');
                doc.text(27,110, 'Produit');
                doc.text(110,110, 'Quantité');
                doc.text(125,110, "Prix unitaire");
                doc.text(153,110, "TVA");
                doc.text(167,110, "Total");
                doc.setLineWidth(1);
                doc.line(16, 113, 195, 113);
            }

            function factureAdress(v){
                doc.setFontSize(10);
                doc.text(16,55, "Adresse de facturation et de livraison");
                doc.setFontType('normal');
                doc.text(16,60, v.name + ' ' + v.firstName);
                doc.text(16,65, v.street);
                doc.text(16,70, v.postalCode + ' ' + v.city);
                doc.text(16,75, v.country);
                doc.text(16,80, v.phone);
                doc.text(16,85, v.email);
            }

            function factureNumber(v){
                //todo format date
                doc.setDrawColor(0);
                doc.setFillColor(232,232,232);
                doc.rect(left_x_header,40,30,9, 'FD');
                doc.setFontSize(11);
                doc.setFontType('bold');
                doc.text(left_x_header + 5,46, 'FACTURE');
                var factureName = v.number + ' de ' + v.name + ', ' + v.firstName + ' le ' + v.dateCommand;
                doc.text(38,46, factureName);
            }

            function header(){
                doc.setFontSize(13);
                doc.text(left_x_header, 12, 'BOUTIQUE ITSARA');
                doc.text(55, 12, 'www.itsara.net');
                doc.setFontSize(11);
                doc.text(left_x_header, 20, "Bijoux en argent massif ethniques du triangle d’or");
                doc.text(left_x_header, 25, "et créations des Karen du village de Huay Tom.");
                doc.addImage(imgData, 'JPEG',168,7,32,34);
            }

            function footer(){
                doc.setFontType('normal');
                doc.setFontSize(8);
                doc.text(70, 280, "ITSARA, BP 25, 83340 Le Thoronet, France");
                doc.text(45, 285, "RCS Draguignan 443 273 248 000 98 Garantie des douanes de Nice 12275");
                doc.text(70, 290, "TVA intracommunautaire FR02443273248");
            }

            doc.autoPrint()
            doc.save('autoprint.pdf')
        });
    </script>
{% endblock %}
