{% extends 'base.html.twig' %}

{% block title %}Impression{% endblock %}

{% block body %}
    <div class="container">
        <div id="information-block" class="jumbotron">
            <h1>Cliquez pour imprimer les vignettes d'adresses</h1>
            <p>
                Les factures s'impriment directement sur cette page.
                Cliquer sur le bouton ci dessous pour ouvrir une nouvelle page et imprimer
                les adresses au format vignette.
            </p>
            <div class="col-md-4 form-box">
                <div class="form-group submit-box">
                    <a href="{{ path('print_vignette')}}" class="btn btn-primary">Imprimer les vignettes</a>
                </div>
            </div>
        </div>
        <div id="js-vars" data-vars="{{ commands|e('html_attr') }}"/>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>

    {{ include('home/include_image.html.twig') }}

    <script>

        var commands = jQuery('#js-vars').data('vars');

        $( document ).ready(function() {
            var doc = new jsPDF('p', 'mm', 'a4')

            var count = commands.length;
            $(commands).each(function(k,v){
                header();
                createBody(v);
                footer();
                doc.addPage();

                header();
                createBody(v);
                footer();

                if(k < count - 1){
                    doc.addPage();
                }
            });

            function createBody(v){
                factureNumber(v);
                factureAdress(v);
                factureTable(v);
            }


            function factureTable(v){
                factureTableHeader();
                var beginArticle = 162;
                doc.setLineWidth(0.4);
                doc.setFontType('normal');
                $(v.articles).each(function(n,article){
                    factureArticleLine(article, beginArticle);
                    doc.line(26, beginArticle+2, 195, beginArticle+2);
                    beginArticle += 6;
                });
                doc.text(27,beginArticle, 'Sous Total');
                doc.text(167,beginArticle, String(v.sousTotal));
                doc.line(26, beginArticle+2, 195, beginArticle+2);
                beginArticle += 6;

                $(v.discounts).each(function(n,discount){
                    factureArticleDiscount(discount,beginArticle);
                    doc.line(26, beginArticle+2, 195, beginArticle+2);
                    beginArticle += 6;
                });

                doc.text(27,beginArticle, 'Pourcentage de TVA 20%: ' + String(v.totalTVAHorsPort));
                doc.line(26, beginArticle+2, 195, beginArticle+2);
                beginArticle += 6;
                doc.text(27,beginArticle, 'Frais de port:');
                doc.text(125,beginArticle, 'net: ' + String(v.fraisPortHT));
                doc.text(153,beginArticle, '20%');
                doc.text(167,beginArticle, v.fraisPortTTC);
                doc.setLineWidth(0.8);
                doc.line(26, beginArticle+2, 195, beginArticle+2);
                beginArticle += 6;

                doc.text(27,beginArticle, 'Total(Pourcentage de TVA: '+ v.totalTVA +')');
                doc.text(167,beginArticle, String(v.total));

                beginArticle += 8;
                doc.setFontType('bold');
                doc.text(27,beginArticle, 'Mode de paiement: ' + v.typePayment);
            }

            function factureArticleDiscount(discount,beginArticle){
                doc.text(27,beginArticle, discount.discountCode);
                doc.text(167,beginArticle, discount.discountAmount);
            }

            function factureArticleLine(article, beginArticle){
                doc.text(27,beginArticle, article.article);
                doc.text(110,beginArticle, article.nbArticle);
                doc.text(125,beginArticle, article.prixUnitaire);
                doc.text(153,beginArticle, String(article.TVA));
                doc.text(167,beginArticle, article.priceTTC);
            }

            function factureTableHeader(){
                doc.setDrawColor(232,232,232);
                //line(xl, yl, xr, yr);
                doc.line(26, 150, 195, 150);
                doc.setFontType('bold');
                doc.text(27,155, 'Produit');
                doc.text(110,155, 'Quantité');
                doc.text(125,155, "Prix unitaire");
                doc.text(153,155, "TVA");
                doc.text(167,155, "Total");
                doc.setLineWidth(1);
                doc.line(26, 157, 195, 157);
            }

            function factureAdress(v){
                //todo check if province or street complement is empty
                doc.setFontSize(10);
                doc.text(26,100, "Adresse de facturation et de livraison");
                doc.setFontType('normal');
                doc.text(26,105, v.name + ' ' + v.firstName);
                doc.text(26,110, v.street);
                doc.text(26,115, v.streetComplement);
                doc.text(26,120, v.postalCode + ' ' + v.city);
                doc.text(26,125, v.country);
                doc.text(26,130, v.phone);
                doc.text(26,135, v.email);
            }

            function factureNumber(v){
                //todo format date
                doc.setDrawColor(0);
                doc.setFillColor(232,232,232);
                doc.rect(20,80,30,10, 'F');
                doc.setFontSize(12);
                doc.setFontType('bold');
                doc.text(24.5,86.5, 'FACTURE');
                var factureName = v.number + ' de ' + v.name + ', ' + v.firstName + ' le ' + v.dateCommand;
                doc.text(51,86.5, factureName);
            }

            function header(){
                doc.setFontSize(25);
                doc.text(50, 35, 'ITSARA.net');
                doc.setFontSize(16);
                doc.text(20, 48, "Bijoux en argent massif ethniques du triangle d’or");
                doc.text(20, 55, "et créations des Karen du village de Huay Tom.");
                doc.addImage(imgData, 'JPEG',150,15,46,50);
            }

            function footer(){
                doc.setFontType('normal');
                doc.setFontSize(10);
                doc.text(70, 275, "ITSARA, BP 25, 83340 Le Thoronet, France");
                doc.text(45, 280, "RCS Draguignan 443 273 248 000 98 Garantie des douanes de Nice 12275");
                doc.text(70, 285, "TVA intracommunautaire FR02443273248");
            }

            doc.autoPrint()
            doc.save('autoprint.pdf')
        });
    </script>
{% endblock %}
