{% extends 'base.html.twig' %}

{% block title %}Impression{% endblock %}

{% block body %}
    <div class="container">
        <div id="information-block" class="jumbotron">
            <h1>Impression des vignettes</h1>
            <p>
                Les vignettes pour la poste s'impriment directement sur cette page.
            </p>
        </div>
        <div id="js-vars" data-vars="{{ commands|e('html_attr') }}"/>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('jspdf.js') }}"></script>
    <script>

        var commands = jQuery('#js-vars').data('vars');
        var count = commands.length;

        $( document ).ready(function() {

            var doc = new jsPDF('l', 'mm', 'perso');
            doc.setFontSize(10);

            $(commands).each(function(k,v){
                var beginText = 5;
                var interval = 4;
                var left_x = 1;

                doc.text(left_x,beginText, v.name + ' ' + v.firstName);
                beginText += interval;
                doc.text(left_x,beginText, v.street.toLowerCase());
                beginText += interval;
                if(v.streetComplement.length){
                    doc.text(left_x,beginText, v.streetComplement.toLowerCase());
                    beginText += interval;
                }

                doc.text(left_x,beginText, v.postalCode + ' ' + v.city);
                beginText += interval;
                if(v.province.length){
                    doc.text(left_x,beginText, v.province);
                    beginText += interval;
                }

                if(v.country.toLowerCase() != 'france'){
                    doc.text(left_x,beginText, v.country);
                }

                if(k < count - 1){
                    doc.addPage();
                }
            });


            doc.autoPrint();
            doc.save('autoprint.pdf');
        });
    </script>
{% endblock %}
