{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>

    <script>
        $( document ).ready(function() {
            var doc = new jsPDF('p', 'mm', 'a5')
            doc.text(20, 20, 'Test imprission facture 1!');
            doc.text(20, 30, 'Bla bla bla bla');
            doc.addPage();
            doc.text(20, 20, 'Test imprission facture 2')
            doc.text(20, 30, 'amamamamamamamamamamam');
            doc.autoPrint()
            doc.save('autoprint.pdf')
        });
    </script>
{% endblock %}
